{% load bootstrap5 %}

<!DOCTYPE html>
<html>
<head>
    <title>League Flex Ranking</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <h1 style="text-align: center;">League Flex Ranking</h1>
    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    {% for key in data.0.keys %}
                        <th>{{ key }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                    <tr>
                        {% for value in row.values %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div> 
</body>
</html>
