{% load bootstrap5 %}

<!DOCTYPE html>
<html>
<head>
    <title>LOL FLEX WEBAPP</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                {% for key in data.0.keys %}
                    <th>{{ key }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    {% for value in row.values %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
